{{define "content"}}

<main class="content">
    <div>
            {{range $key, $values := .Errors}}
                {{range $i, $error := $values}}
                    <span>{{$error}}</span>
                {{end}}
            {{end}}
    </div>
    <div class="header">
        <h2>Suas listas</h2>
        <button id="add-list-button" class="btn">+</button>
    </div>
    <ul class="lists">
        <form id="new_list" class="d-none" action="/lists" method="post">
            <input id="list_name" name="lists[name]" class="d-block borderless py-10 w-full" placeholder="Preencha o nome da sua lista" required>
        </form>

        {{range $index, $list := .Lists}}
            <li class="list-item">
                <a href="/actions/{{$list.Id}}" class="list-item-link">{{$list.Name}}</a>
            </li>
        {{else}}
            {{template "empty"}}
        {{end}}
    </ul>
</main>

<script>
    let input = document.querySelector("#list_name")
    let form = document.querySelector("#new_list")

    document.querySelector("#add-list-button").addEventListener("click", (event) => {
        event.preventDefault()

        form.classList.remove("d-none")
        input.focus()
    })

    input.addEventListener("blur", () => {
        form.classList.add("d-none")
        input.value = ""
    })

    input.addEventListener("keydown", (event) => {
        if (event.key == "enter") {
            form.submit()
        }
    })
</script>
{{end}}
