html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.light {
    --main-bg-color: #e7f0f6;
    --nav-bg-color: #6200ee;
    --logo-font-color: #e9ddfb;
    --main-font-color: #151515;
    --main-border-color: #ffff00;
}

.dark {
    --main-bg-color: #121212;
    --nav-bg-color: #1f1f1f;
    --logo-font-color: #e9ddfb;
    --main-font-color: #dedede;
    --main-border-color: #ffff00;
}

.navbar {
    background-color: var(--nav-bg-color);
    display: flex;
    align-items: center;
    padding: 5px 20px;
    justify-content: space-between;
    font-weight: bolder;
}

.navbar h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: var(--logo-font-color);
}

.navbar .username {
    border: 1px solid var(--main-border-color);
    border-radius: 15px;
    padding: 10px;
    font-weight: lighter;
    color: var(--logo-font-color);
}

.content {
    width: 1090px;
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.btn {
    border: 1px solid var(--main-border-color);
    border-radius: 15px;
    color: var(--logo-font-color);
    background-color: var(--nav-bg-color);
    min-width: 40px;
    text-align: center;
    padding: 5px;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.w-full {
    width: 100%;
}

.borderless {
    border: none;
}


.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
